<div class="registerComponent component">
    <form *ngIf="!isSuccessful" name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm">
      <div class="form-group">
        <span>Username</span>
        <input type="text" class="form-control" id="username" name="username" [(ngModel)]="form.username"
               required minlength="3" maxlength="20" #username="ngModel"
          [ngClass]="{ 'is-invalid': f.submitted && username.errors }"
        />
        <div id="imgMock"> </div>
        <div class="invalid-feedback" *ngIf="username.errors && f.submitted">
          <div *ngIf="username.errors['required']" class="alert">Username is required</div>
          <div *ngIf="username.errors['minlength']" class="alert">Username must be at least 3 characters</div>
          <div *ngIf="username.errors['maxlength']" class="alert">Username must be at most 20 characters</div>
        </div>
      </div>

      <div class="form-group">
        <span>Password</span>
        <input [type]="showPassword ? 'text' : 'password'" class="form-control" id="password" name="password"
               [(ngModel)]="form.password" required minlength="6" #password="ngModel"
               [ngClass]="{ 'is-invalid': f.submitted && password.errors }"
        />
        <img (click)="toggleShowPassword()" src="{{ theme === 'theme-light' ? 'assets/eye-slash-light.svg' : 'assets/eye-slash-dark.svg'}}" alt="eye_icon"
             title="See/Hide Password" height="20" width="20" class="togglePassword"/>
        <div class="invalid-feedback" *ngIf="password.errors && f.submitted">
          <div *ngIf="password.errors['required']" class="alert">Password is required</div>
          <div *ngIf="password.errors['minlength']" class="alert">Password must be at least 6 characters</div>
        </div>
      </div>

      <div class="form-group">
        <button>Sign Up</button>
      </div>
      <div class="alert" *ngIf="f.submitted && isSignUpFailed">Signup failed!<br />{{ errorMessage }}</div>

      <div class="form-group">
        Already have an account?
      </div>
      <div class="form-group">
        <button routerLink="/login">Log In</button>
      </div>

    </form>

    <div class="alert-success" *ngIf="isSuccessful">Your registration was successful!</div>
</div>

