@hoverColor: #cccccc88;

.themable_fill {
  fill: var(--text-color);
}

.themable_stroke {
  stroke: var(--text-color);
}

#svgGraph {
  display: flex;
  align-content: center;
  justify-content: center;
  position: static;
  left: 50%;
  margin: auto;
  border-radius: 5px;

  &:hover {
    background-color: @hoverColor;
  }
}

.form-group {
  display: flex;
  align-content: center;
  justify-content: center;
  margin: 10px;

  span {
    margin-right: 50px;
  }
}

.error {
  position: absolute;
  color: red;
  text-shadow: dimgray 2px 2px 5px;
}
