div {
  align-content: center;
  justify-content: center;
  text-align: center;
}

.myName {
  font-size: 30px;
  font-weight: bold;
  margin: 10px;
  display: block;
}

#clock {
  display: block;
  font-family: 'Share Tech Mono', monospace;
  text-align: center;
  left: 50%;
  top: 50%;
  color: #daf6ff;
  text-shadow: 0 0 20px rgba(10, 175, 230, 1),  0 0 20px rgba(10, 175, 230, 0);

  letter-spacing: 0.05em;
  font-size: 80px;
  padding: 5px 0;
}
