<div class="mainComponent component">
  <div class="svgComponent component">
    <app-svg-graph></app-svg-graph>
  </div>
  <form [formGroup]="form" (ngSubmit)="onSubmit()" #f="ngForm">
    <div class="form-group">
      <span>X:</span>
      <input formControlName="x"  placeholder="Value from [-5 to 3]">
      <label *ngIf="form.get('x')?.invalid && form.get('x')?.touched" [ngClass]="'error'">X required with value from [-5 to 3]</label>
    </div>
    <div class="form-group">
      <span>Y:</span>
      <input formControlName="y"  placeholder="Value from [-5 to 3]">
      <label *ngIf="form.get('y')?.invalid && form.get('y')?.touched" [ngClass]="'error'">Y required with value from [-5 to 3]</label>
    </div>
    <div class="form-group">
      <span>R:</span>
      <input formControlName="r"  placeholder="Value from [-5 to 3]">
      <label *ngIf="form.get('r')?.invalid && form.get('r')?.touched" [ngClass]="'error'">R required with value from [-5 to 3]</label>
    </div>
    <div class="form-group">
      <button type="submit" [disabled]="form.invalid">Submit</button>
    </div>

    <div *ngIf="f.submitted && hasSubmittingError" class="alert" role="alert">Login failed: {{ errorMessage }} </div>
  </form>

  <form (ngSubmit)="clearTable()" class="clearTable">
    <div class="form-group">
      <button type="submit">Clear table</button>
    </div>
  </form>
  <div style="overflow: auto; height: 400px;">
    <table>
      <tr>
        <th>X</th>
        <th>Y</th>
        <th>R</th>
        <th>Result</th>
        <th>Time</th>
        <th>Execution Time</th>
      </tr>
      <tr *ngFor="let hit of hitList">
        <td>{{hit.x}}</td>
        <td>{{hit.y}}</td>
        <td>{{hit.r}}</td>
        <td [ngClass]="hit.hit ? 'success' : 'fail'">{{hit.hit ? 'Hit' : 'Miss'}}</td>
        <td>{{hit.currDate}}</td>
        <td>{{hit.execTime}}</td>
      </tr>
    </table>
  </div>
</div>
