.mainComponent {
  padding-bottom: 30px;
}

.clearTable {
  border: none;
  background-color: transparent;
}

.svgComponent {
  margin-bottom: 50px;
  width: 100%;
}

form {
  margin-bottom: 30px;
}

table {
  text-align: center;
  width: 75%;
  margin: auto;

  th, td, tr {
    padding: 10px 5px 10px 0;
  }

  border-collapse: collapse;
  border: 2px solid var(--table-border-color);

  tbody {
    font-weight: normal;
  }

  th {
    height: 50px;
  }

  th:hover, td:hover, tr:hover {
    background-color: #cccccc88;
  }
}

.error {
  position: absolute;
  color: red;
  text-shadow: dimgray 2px 2px 5px;
}

@greenButton: #22AA22;
@redButton: #AA2222;

.send {
  background-color: @greenButton;

  &:disabled {
    background-color: #ccc;
    color: #999;
    cursor: not-allowed;
  }

  &:hover:not(:disabled) {
    background-color: darken(@greenButton, 20%);
  }

  &:active:not(:disabled) {
    background-color: darken(@greenButton, 40%);
  }
}

.delete {
  background-color: @redButton;

  &:hover {
    background-color: darken(@redButton, 20%);
  }

  &:active {
    background-color: darken(@redButton, 40%);
  }
}

td.success {
  background-color: fade(@greenButton, 20%);
}

td.fail {
  background-color: fade(@redButton, 20%);
}
